<% if user_signed_in? %>
<% if current_user.manageService == false %>
  <script type="text/javascript">
    window.location.href="/"
  </script>
<% end %>
<% else %>
<script type="text/javascript">
window.location.href="/"
</script>
<% end %>

<div class="container">
<% if notice %>
<div class="container">
  <div class="alert alert-success">
    <strong>
      <div style="text-align: center;">
        <p id="notice">
          <%= notice %>
        </p>
      </div>
    </strong>
  </div>
</div>
<%end%>   

<div >
    <center>
        <h1>
            Servicios
        </h1>
    </center>
    <br>
    </br>
</div>

<div class="text-left">
    <%= link_to 'Atras', services_path, :class => 'btn btn-warning',:"data-turbolinks" => false  %>
</div>
<br>

<% if @services.length ==0 %>
    <div class="rowMyService">
        <div class="col-sm-8">
            <div class="well well-sm">
            <center>
            <h2> Aún no existen Servicios </h2>
            </center>
            </div>
        </div>
    </div>
<% else %>
    
        <table class="table table-bordered">
            <thead>
                <th>
                Nombre
                </th>
                <th>
                Número de orden
                </th>

            </thead>
            <tbody class="sortable"> 

                
                <% sortable_fetch(@services) do |service, id_tag | %>
                        <tr id="<%= id_tag %>">
                        <td><%= service.name %></td>
                        <td><%= service.sort %></td>
                        
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>