<% if user_signed_in? %>

  
<% else %>
<script type="text/javascript">
  window.location.href="/"
</script>
<% end %>

<div class="container">
<% if notice %>
<div class="container">
  <div class="alert alert-success">
    <strong>
      <div style="text-align: center;">
        <p id="notice">
          <%= notice %>
        </p>
      </div>
    </strong>
  </div>
</div>
<%end%>   

<div>
    <center>
        <h1>
            Concursos
        </h1>
    </center>
    <br>
    </br>
</div>

<div class="text-left">
    <%= link_to 'Atras', contests_path, :class => 'btn btn-warning',:"data-turbolinks" => false  %>
</div>
<br>

<% if @contests.length ==0 %>
    <div class="rowMyService">
        <div class="col-sm-8">
            <div class="well well-sm">
            <center>
                <h2> Aún no existen Concursos </h2>
            </center>
            </div>
        </div>
    </div>
<% else %>
    
        <table class="table table-bordered">
            <thead>
                <th>
                Nombre
                </th>
                <th>
                Número de orden
                </th>

            </thead>
            <tbody class="sortable"> 

                
                <% sortable_fetch(@contests) do |contest, id_tag | %>
                        <tr id="<%= id_tag %>">
                        <td><%= contest.name %></td>
                        <td><%= contest.sort %></td>
                        
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>