   
<div class="container">
  <% if notice %>
    <div class="alert alert-success">
      <strong>
        <div style="text-align: center;">
          <p id="notice">
            <%= notice %>
          </p>
        </div>
      <strong>
    </div>
  <%end%>
  <div class="rowEv">  
    <div class="col-sm-8">
      <div class="well well-sm">
        <center>
          <div class="view overlay hm-white-slight">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <% if @event.image_url.to_s != nil %>
                <img class="img-responsive center-block" alt=""<%= image_tag @event.image.thumb.url %>
              <% else %>
                  <img src="https://www.ebosscanada.com/wp-content/uploads/2016/07/00_Slider_02.jpg" class="img-fluid" alt="" style="width:100%">
              <% end %>
            </a>
          </div>
        </center>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="rowEv">  
    <div class="col-sm-8">
      <div class="well well-sm">
        <center>
          <h2> <%= @event.name %> </h2>
        </center>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="rowEv">  
    <div class="col-sm-8">
      <blockquote>
        <h4>
          <%= simple_format (@event.description) %>
        </h4>
      </blockquote>
    </div>
  </div>
</div>

<div class="container">
  <div class="rowEv">  
    <div class="col-sm-8">
      <blockquote>
        <h4>
          <%= @event.date %>
        </h4>
      </blockquote>
    </div>
  </div>
</div>

<div class="container">
  <div class="rowEv">  
    <div class="col-sm-8">
      <blockquote>
        <h4>
          <%= @event.date_end %>
        </h4>
      </blockquote>
    </div>
  </div>
</div>

<div class="container">
  <div class="rowEv">  
    <div class="col-sm-8">
      <blockquote>
        <h4>
          <%= @event.place %>
        </h4>
      </blockquote>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <% if current_user.manageEvent? %>
    <div class="container">
      <div class="rowEv">  
        <div class="col-sm-4">
        <br>
        <%= link_to 'Editar', edit_event_path(@event) ,:class => 'btn btn-warning' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="container">
  <div class="rowEv">  
    <div class="col-sm-4">
      <br>
      <td><%= link_to 'Ver Album', @event.album, :class=>'btn btn-info' %></td>
    </div>
  </div>
</div>

<div class="container">
  <div class="rowEv">  
    <div class="col-sm-4">
      <br>
      <%= link_to 'Atras', events_path ,:class => 'btn btn-warning'%>
    </div>
  </div>
</div>
