<% if user_signed_in? %>
    <% if current_user.manageContact == false %>
    <script type="text/javascript">
        window.location.href="/"
    </script>
    <% end %>
<% else %>
    <script type="text/javascript">
    window.location.href="/"
    </script>
<% end %>

<div class="container">
<% if notice %>
    <div class="container">
    <div class="alert alert-success">
        <strong>
        <div style="text-align: center;">
            <p id="notice">
            <%= notice %>
            </p>
        </div>
        </strong>
    </div>
    </div>
<%end%>   

<div>
    <center>
        <h1>
            Páginas Web
        </h1>
    </center>
    <br>
    </br>
</div>

<div class="text-left">
    <%= link_to 'Atras', contacts_path, :class => 'btn btn-warning',:"data-turbolinks" => false  %>
</div>
<br>

<% if @web_pages.length ==0 %>
    <div class="rowMyService">
        <div class="col-sm-8">
            <div class="well well-sm">
            <center>
            <h2> Aún no existen Páginas Web </h2>
            </center>
            </div>
        </div>
    </div>
<% else %>
    
        <table class="table table-bordered">
            <thead>
                <th>
                URL
                </th>
                <th>
                Número de orden
                </th>

            </thead>
            <tbody class="sortable"> 

                
                <% sortable_fetch(@web_pages) do |web_page, id_tag | %>
                        <tr id="<%= id_tag %>">
                        <td><%= web_page.link %></td>
                        <td><%= web_page.sort %></td>
                        
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>